<div>
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Cadastro de usuários</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="formSubmit()" class="example-form">
            <table>
              <tr>
                <td>
                    <p>Usuário:</p>
                    <p><input placeholder="usuário" [(ngModel)]="username" name="username"></p>
                </td>
              </tr>
              <tr>
                <td>Senha:</td>
                <td><input placeholder="senha" [(ngModel)]="password" name="password"></td>
              </tr>
              <tr>
                <td><button type="submit">Cadastrar</button></td>
              </tr>
          </table>
        </form>
      </nb-card-body>
    </nb-card>
</div>
