<div>
    <nb-card style="max-width: 500px;margin: 2em auto;margin-top:5%;">
      <nb-card-header>Cadastro de usuários</nb-card-header>
        <nb-card-body style='display: flex;justify-content: center;'>
          <form (ngSubmit)="formSubmit()" class="example-form">
            <table>
                <tr>
                  <td style="text-align:center;" [ngStyle]="setMyStyles()">
                    {{this.strOk}}
                  </td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              <tr>
                <td>
                    <p>Usuário:</p>
                    <p><input placeholder=" " nbInput fullWidth fieldSize="medium" [(ngModel)]="username" name="username"></p>
                </td>
              </tr>
              <tr>
                <p>Senha:</p>
                <p><input placeholder=" " [(ngModel)]="password" name="password" type="password"></p>
              </tr>
              <tr>
                <td style="text-align: center;"><button class='btn-outline-secondary' nbButton status="info" type="submit">Cadastrar</button></td>
              </tr>
          </table>
        </form>
      </nb-card-body>
    </nb-card>
</div>
