<div>
    <nb-card size="medium" class="barra-card">
      <nb-card-header>Cadastro de usuários</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="formSubmit()" class="example-form">
            <table>
              <tr>
                <td>
                    <p>Usuário:</p>
                    <p><input placeholder=" " [(ngModel)]="username" name="username"></p>
                </td>
              </tr>
              <tr>
                <p>Senha:</p>
                <p><input placeholder=" " [(ngModel)]="password" name="password"></p>
              </tr>
              <tr>
                <td><button nbButton status="info" type="submit">Cadastrar</button></td>
              </tr>
          </table>
        </form>
      </nb-card-body>
    </nb-card>
</div>
