<div>
    <form (ngSubmit)="formSubmit()" class="example-form">
  <table>
    <tr>
      <td>Usuário:</td>
      <td><input placeholder="usuário" [(ngModel)]="username" name="username"></td>
    </tr>
    <tr>
      <td>Senha:</td>
      <td><input placeholder="senha" [(ngModel)]="password" name="password"></td>
    </tr>
    <tr>
      <td><button type="submit">Cadastrar</button></td>
    </tr>
  </table>
</form>
</div>