<!--
<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-md-5">
        <p>
            {{connected}}
        </p>
        <p>
            {{status}}
        </p>
        <p>
            {{valor}}
        </p>
    </div>
</div>
-->

<div class="row">
  <div class="col-lg-6">
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Estado dos motores</nb-card-header>
      <nb-card-body>
        <div style=" margin: 0 auto!important;width: 100%;text-align:center;">
          <ngx-barra nome1="Disponíveis" nome2="Indisponíveis" [v1]="v11" [v2]="v12" [total]="numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Produzindo" nome2="Não produzindo" [v1]="v21" [v2]="v22" [total]="numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem limitação" nome2="Com limitação" [v1]="v31" [v2]="v32" [total]="numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem restrição" nome2="Com restrição" [v1]="v41" [v2]="v42" [total]="numeroTotalMotores"></ngx-barra>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">

    <nb-card size="xsmall" class="rosca-card">
      <nb-card-header>Potência</nb-card-header>
      <nb-card-body>
        <div style="text-align:center;margin:0 auto;">
          <ngx-rosca
            [direita]="true"
            [valor]="valor"
            total="297.6"
            [inef]="inef"
            [indisp]="indisp">
          </ngx-rosca>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<!--
<div class="row">
  <div class="col-md-6">

    <nb-card size="xsmall" class="rosca-card">
      <nb-card-header>Potência Global I</nb-card-header>
      <nb-card-body>
        <div style="text-align:center;margin:0 auto;">
          <ngx-rosca [direita]="true" [valor]="valorG1" total="148.8" [inef]="inefG1" [indisp]="indispG1"></ngx-rosca>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-6">

    <nb-card size="xsmall" class="rosca-card">
      <nb-card-header>Potência Global II</nb-card-header>
      <nb-card-body>
        <div style="text-align:center;margin:0 auto;">
          <ngx-rosca [direita]="true" [valor]="valorG2" total="148.8" [inef]="inefG2" [indisp]="indispG2"></ngx-rosca>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
-->

<div class="row">
  <div class="col-sm-12">
    <!--
      <div class="" style="width:96.5%;margin: 0 auto!important;text-align:center">
-->
    <!-- <nb-card>
      <nb-card-header>Histórico disponibilidade</nb-card-header>
      <nb-card-body>
        <div align=right>
          Período em horas
          <div style="width:110px" class="dropdown" ngbDropdown>
            <button type="button" ngbDropdownToggle style="background-color:#36f" class="btn" [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
              {{ type }}
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let t of types" (click)="type = t">{{ t }}</li>
            </ul>
          </div>
        </div>
        <div echarts [options]="optionsHistDisp" class="echart"></div>
      </nb-card-body>
    </nb-card> -->
  </div>
</div>


<div class="row">
  <div class="col-lg-4">
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Tanques de armazenagem</nb-card-header>
      <nb-card-body>
        <ngx-barra nome1="HFO T-101" [v2]="t101" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
        <ngx-barra nome1="HFO T-102" [v2]="t102" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
        <ngx-barra nome1="HFO T-103" [v2]="t103" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
        <ngx-barra nome1="HFO T-104" [v2]="t104" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card size="card-height-small" class="barra-card">
      <nb-card-header>Tanques de buffer e diário</nb-card-header>
      <nb-card-body style="height:100%">
        <div style=" margin: 0 auto!important;width: 100%;height:100%;text-align:center">
          <p align="left" style="margin-top: 0px; margin-bottom: 2px;">Tanques de armazenagem</p>
          <ngx-barra nome1="HFO T-121" [v2]="t121" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
          <ngx-barra nome1="HFO T-122" [v2]="t122" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
          <p align="left" style="margin-top: 10px; margin-bottom: 2px;">Tanques de uso diário</p>
          <ngx-barra nome1="HFO T-131" [v2]="t131" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
          <ngx-barra nome1="HFO T-132" [v2]="t132" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Tanques DO e LUB</nb-card-header>
      <nb-card-body>
        <div style=" margin: 0 auto!important;width: 100%;text-align:center;">
          <p align="left" style="margin-top: 0px; margin-bottom: 2px;">Tanque DO</p>
          <ngx-barra nome1="DO T-180" [v2]="t180" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
          <p align="left" style="margin-top: 10px; margin-bottom: 2px;">Tanque LUB</p>
          <ngx-barra nome1="LUB T-200" [v2]="t200" [porcentagemV2]="true" nomeCor="#404040" cor2="#3366ff" [showV1]="false" total=100></ngx-barra>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <!--
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Global 1</nb-card-header>
      <nb-card-body>
        <div echarts [options]="optionsG1" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Global 2</nb-card-header>
      <nb-card-body>
        <div echarts [options]="optionsG2" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
-->


<div class="col-lg-12">
    <nb-card size="large" class="barra-card">
      <nb-card-header>Potência</nb-card-header>
      <nb-card-body>
        <div style="width:98%;height:70%;" >
          <ngx-charts-line-chart
            [scheme]="colorSchemeLine" [results]="multiLine" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine"
            [legend]="showLegendLine" [animations] = "animations"
            [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine"
            [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
            [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains"
            [legendTitle]="Legendateste" [xAxisTickFormatting]="xAxisTickFormatting">

      <ng-template #tooltipTemplate let-model="model">
          {{getTTData(model)}}
          <br>
          {{getTTNome(model)}}: <b> {{getTTValor(model)}} MW</b>
      </ng-template>

          </ngx-charts-line-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-12">
    <nb-card size="large" class="barra-card">
      <nb-card-header>Histórico disponibilidade dos motores</nb-card-header>
      <nb-card-body>
        <div style="width:98%;height:66%">
          <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiDisp" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
            [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
            [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
            <ng-template #tooltipTemplate let-model="model">
                {{getTTData(model)}}
                <br>
                {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
            </ng-template>
          </ngx-charts-line-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <nb-card size="large" class="barra-card">
        <nb-card-header>Fator de Carga </nb-card-header>
        <nb-card-body>
          <div style="width:98%;height:70%">
            <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiFatorGeral" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
            [referenceLines] = "referenceLines"   showRefLines="showRefLines"
            [animations] = "animations"[showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
              [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
              <ng-template #tooltipTemplate let-model="model">
                  {{getTTData(model)}}
                  <br>
                  {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
              </ng-template>
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>
<!--
<div class="row">
  <div class="col-lg-12">
      <nb-card size="large" class="barra-card">
        <nb-card-header>Fator de Carga </nb-card-header>
        <nb-card-body>
          <div style="width:98%;height:100%">
            <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiFatorCluster" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
              [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
              [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div> -->


<!--
  <div class="row">
      <div class="col-xxxl-3 col-xxl-4 col-md-5">
          <ngx-weather></ngx-weather>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-5">
          <ngx-traffic></ngx-traffic>
          <ngx-solar [chartValue]="72"></ngx-solar>
      </div>

      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Light" type="primary">
          <i class="nb-lightbulb"></i>
        </ngx-status-card>
      </div>

      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Roller Shades" type="success">
          <i class="nb-roller-shades"></i>
        </ngx-status-card>
      </div>

      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Wireless Audio" type="info">
          <i class="nb-audio"></i>
        </ngx-status-card>
      </div>

      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Coffee Maker" type="warning">
          <i class="nb-coffee-maker"></i>
        </ngx-status-card>
      </div>
    </div>

    <div class="row">

  </div>

  <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-temperature></ngx-temperature>
    </div>

    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <ngx-electricity></ngx-electricity>
    </div>
  </div>

  <div class="row">
    <div class="col-xxxl-9 col-xl-12">
      <ngx-rooms></ngx-rooms>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <ngx-contacts></ngx-contacts>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">

      <ngx-kitten></ngx-kitten>
    </div>

    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>
  </div>
  -->
