<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"><img height="25" src="assets/images/candeias_icon.png"></div>
    <div class="logo" (click)="goToHome()"><span>Candeias</span></div>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>
{{this.nomeUsuario}}
<button class= 'btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;width:120px" (click)="sair()">
    <font size=2px>Sair</font> <i class="ion ion-log-out"></i>
</button>

<!--
<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action>
    <nb-user [menu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
  </nb-action>
  <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
  <nb-action class="control-item" icon="nb-email"></nb-action>
  <nb-action class="control-item">
    <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
  </nb-action>
</nb-actions>
-->
