<style>
  .teste {
    padding: 0 !important;
    background: black;
    background-color: black;
    color: red;
  }
</style>
<nb-card>
  <nb-card-header>
    Supervisão de motores
  </nb-card-header>

  <nb-card-body>

    <ng2-smart-table *ngIf="!isMobile" [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
    <ng2-smart-table *ngIf="isMobile" [settings]="settingsMobile" [source]="source" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>


  </nb-card-body>
</nb-card>
<div *ngIf="!isMobile" align=right>
  Motores por página
  <br>
  <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;" (click)="porPagina(10)">10</button>
  <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;" (click)="porPagina(20)">20</button>
  <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;" (click)="porPagina(50)">50</button>
  <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;" (click)="porPagina(100)">100</button>
  <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;" (click)="porPagina(150)">150</button>
</div>