@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

/*
.chart-legend { 
  display: block !important;
}

.ngx-charts-outer { 
  height: 100%; display: flex; flex-direction: column-reverse; 
}

@include media-breakpoint-up(md) { 
  .legend-labels { display: flex; } 
  .f-18{ font-size: 16px; } 
}
.chart-legend { 
  & div:first-child{ 
    position: absolute; 
    bottom: 0px; 
    width: 90% !important; 
    padding-left: 5px;  
    padding-bottom: 10px; 
  }
}
*/
