<div class="row">

  <div class="col-lg-6">
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Global II - Estado dos motores</nb-card-header>
      <nb-card-body>
        <div style=" margin: 0 auto!important;width: 100%;text-align:center;">
          <ngx-barra nome1="Disponíveis" nome2="Indisponíveis" [v1]="G2v11" [v2]="G2v12" [total]="G2numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Produzindo" nome2="Não produzindo" [v1]="G2v21" [v2]="G2v22" [total]="G2numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem limitação" nome2="Com limitação" [v1]="G2v31" [v2]="G2v32" [total]="G2numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem restrição" nome2="Com restrição" [v1]="G2v41" [v2]="G2v42" [total]="G2numeroTotalMotores"></ngx-barra>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="xsmall" class="rosca-card">
      <nb-card-header>Global II - Potência instantânea</nb-card-header>
      <nb-card-body>
        <div style="text-align:center;margin:0 auto;">
          <ngx-rosca [direita]="true" [valor]="valorG2" total="148.8" [inef]="inefG2" [indisp]="indispG2"></ngx-rosca>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card size="large" class="barra-card">
      <nb-card-header>Global II - Histórico disponibilidade</nb-card-header>
      <nb-card-body>
        <div style="width:98%;height:66%;padding-bottom: 0px;">
          <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiDisp" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
          [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
            [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
            <ng-template #tooltipTemplate let-model="model">
                {{getTTData(model)}}
                <br>
                {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
            </ng-template>
          </ngx-charts-line-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  
  <div class="col-lg-12">
      <nb-card size="xlarge" class="barra-card">
        <nb-card-header>Global II - Potência</nb-card-header>
        <nb-card-body>
          <div style="width:98%;height:75%;padding-bottom: 0px;">
            <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiLine" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
            [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
              [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
              <ng-template #tooltipTemplate let-model="model">
                  {{getTTData(model)}}
                  <br>
                  {{getTTNome(model)}}: <b> {{getTTValor(model)}} MW</b>
              </ng-template>
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <nb-card size="xlarge" class="barra-card">
          <nb-card-header>Fator de Carga </nb-card-header>
          <nb-card-body>
            <div style="width:98%;height:70%;padding-bottom: 0px;">
              <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiFatorCluster" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
              [referenceLines] = "referenceLines"   showRefLines="showRefLines"
              [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
                [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
                <ng-template #tooltipTemplate let-model="model">
                    {{getTTData(model)}}
                    <br>
                    {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
                </ng-template>
              </ngx-charts-line-chart>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
  </div>
  


<!--
  <div class="row">
      <div class="col-xxxl-3 col-xxl-4 col-md-5">
          <ngx-weather></ngx-weather>
      </div>
      <div class="col-xxxl-3 col-xxl-4 col-md-5">
          <ngx-traffic></ngx-traffic>
          <ngx-solar [chartValue]="72"></ngx-solar>
      </div>
  
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Light" type="primary">
          <i class="nb-lightbulb"></i>
        </ngx-status-card>
      </div>
    
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Roller Shades" type="success">
          <i class="nb-roller-shades"></i>
        </ngx-status-card>
      </div>
    
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Wireless Audio" type="info">
          <i class="nb-audio"></i>
        </ngx-status-card>
      </div>
    
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Coffee Maker" type="warning">
          <i class="nb-coffee-maker"></i>
        </ngx-status-card>
      </div>
    </div>
  
    <div class="row">
    
  </div>
  
  <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-temperature></ngx-temperature>
    </div>
  
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <ngx-electricity></ngx-electricity>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxxl-9 col-xl-12">
      <ngx-rooms></ngx-rooms>
    </div>        
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <ngx-contacts></ngx-contacts>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  
      <ngx-kitten></ngx-kitten>
    </div>
  
    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>
  </div>
  -->