
<div class="row">
  <div class="col-lg-6">
    <nb-card size="xsmall" class="barra-card">
      <nb-card-header>Global I - Estado dos motores</nb-card-header>
      <nb-card-body>
        <div style=" margin: 0 auto!important;width: 100%;text-align:center;">
          <ngx-barra nome1="Disponíveis"    nome2="Indisponíveis"   [v1]="G1v11" [v2]="G1v12" [total]="G1numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Produzindo"     nome2="Não produzindo"  [v1]="G1v21" [v2]="G1v22" [total]="G1numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem limitação"  nome2="Com limitação"   [v1]="G1v31" [v2]="G1v32" [total]="G1numeroTotalMotores"></ngx-barra>
          <ngx-barra nome1="Sem restrição"  nome2="Com restrição"   [v1]="G1v41" [v2]="G1v42" [total]="G1numeroTotalMotores"></ngx-barra>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
          <nb-card size="xsmall" class="rosca-card">
            <nb-card-header>Global I - Potência instantânea </nb-card-header>
            <nb-card-body>
              <div style="text-align:center;margin:0 auto;">
                <ngx-rosca [direita]="true" [valor]="valorG1" total="148.8" [inef]="inefG1" [indisp]="indispG1"></ngx-rosca>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card size="large" class="barra-card">
      <nb-card-header>Global I - Histórico disponibilidade</nb-card-header>
      <nb-card-body>
        <div style="width:98%;;height:66%;padding-bottom: 0px;">
          <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiDisp" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
          [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
            [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
            <ng-template #tooltipTemplate let-model="model">
                {{getTTData(model)}}
                <br>
                {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
            </ng-template>
          </ngx-charts-line-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <nb-card size="xlarge" class="barra-card">
        <nb-card-header>Global I - Potência</nb-card-header>
        <nb-card-body>
          <div style="width:98%;height:75%;padding-bottom: 0px;">
            <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiLine" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
            [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
              [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
              <ng-template #tooltipTemplate let-model="model">
                  {{getTTData(model)}}
                  <br>
                  {{getTTNome(model)}}: <b> {{getTTValor(model)}} MW</b>
              </ng-template>
            </ngx-charts-line-chart>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <nb-card size="xlarge" class="barra-card">
          <nb-card-header>Fator de Carga </nb-card-header>
          <nb-card-body>
            <div style="width:98%;height:70%;padding-bottom: 0px;">
              <ngx-charts-line-chart [scheme]="colorSchemeLine" [results]="multiFatorCluster" [xAxis]="showXAxisLine" [yAxis]="showYAxisLine" [legend]="showLegendLine"
                [animations] = "animations" [showXAxisLabel]="showXAxisLabelLine" [showYAxisLabel]="showYAxisLabelLine" [xAxisLabel]="xAxisLabelLine" [yAxisLabel]="yAxisLabelLine"
                [referenceLines] = "referenceLines"   showRefLines="showRefLines"
                [timeline]="timeline" [autoScale]="autoScale" [roundDomains]="roundDomains" [legendTitle]="Legenda" [xAxisTickFormatting]="xAxisTickFormatting">
                <ng-template #tooltipTemplate let-model="model">
                    {{getTTData(model)}}
                    <br>
                    {{getTTNome(model)}}: <b> {{getTTValor(model)}} </b>
                </ng-template>
              </ngx-charts-line-chart>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
  </div>