<div *ngFor="let msg of listaMsg; let i = index">
  <div class="row">
    <div class="col-lg-12">
      <nb-card size="xsmall" class="barra-card">
        <nb-card-header>
          {{msg.title}} - {{formataDataInteira(msg.timestamp)}}
        </nb-card-header>
        <nb-card-body>
          {{msg.message}}
        </nb-card-body>
        <nb-card-footer>
          <button class='btn-outline-secondary' style=" margin: 0 auto!important; text-align:center;width:120px" (click)="delete(msg)">
            <font size=2px>Remover</font>
          </button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>